nav {
  background-color: #f0f8ff;

  ul {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    padding: 10px;

    li {
      transition: border-bottom-width .1s ease;

      a {
        font-weight: 500;
        padding: 10px;

        &:hover {
          text-decoration: none;
        }
      }

      &:not(.selected) {
        a {
          color: #aaa;
        }
      }

      &.selected {
        border-block-end: 1.5px solid #007bff;
      }
    }
  }
}

