<div class="modal fade show" tabindex="-1" style="display: block">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Alert</h5>
        <button (click)="close()" type="button" class="close">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span>{{text}}</span>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="close()" class="btn btn-secondary">Cancel</button>
        <button type="button" class="btn btn btn-danger" (click)="onAction()">{{btnText}}</button>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop fade show"></div>
