<div class="container">
  <h2>Messages</h2>
  <div class="messages table table-bordered table-striped" *ngIf="messages.length; else noMessages">
    <div class="message row" *ngFor="let message of messages">
      <div class="col-md-10">{{message.Name}}</div>
      <div class="col-md-2">
        <button type="button" [routerLink]="['/dashboard/edit', {id:message.Id, name:message.Name}]"
                class="btn btn-default">Edit
        </button>
        <button (click)="openModal(message.Id)" type="button" class="btn btn-default delete">Delete</button>
      </div>
    </div>
  </div>
  <button type="button" routerLink="/dashboard/new" class="btn btn-primary">Add</button>
</div>

<ng-template #noMessages>
  <p class="text">No messages yet.. :(</p>
</ng-template>

<app-modal *ngIf="isModalOpened" [arg]="modalArg" [text]="modalMessage" [btnText]="'Delete'" (cancel)="closeModal()"
           (action)="delete($event.id)"></app-modal>
