button {
  margin: 5px 5px 5px 0;

  &.delete {
    background-color: #ff000044;
  }
}

.row {
  margin-left: 0;
  margin-right: 0;

  &:nth-child(2n) {
    background-color: #00000011;
  }

  * {
    align-self: center;
  }
}
