<div>
  <form (submit)="onSubmit()">
    <div class="form-group">
      <label for="Name">{{title}}: </label>
      <label>
        <input type="text" class="form-control" [(ngModel)]="val.Name" name="Name" #Name="ngModel"/>
      </label>
    </div>
    <button type="button" (click)="onBack()" class="btn btn-default">Back</button>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>
